$primary: #3a3e42;
$offWhite: #e6e6e6;
$offBlack: #232323;
$bgDanger: #ffeeed;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  @extend .bg-primary;
  font-size: 1.1rem;
  color: $offBlack;
}

form {
  & .params {
    width: max-content;
  }
  & .error {
    @extend .text-danger;
  }
  & .liste-erreurs {
    background-color: $bgDanger;
    border-bottom: solid black;
    & li {
      @extend .text-danger;
    }
  }
  & #submit {
    box-shadow: 4px 4px 0px 0px #60676d;
    &:active {
      @extend .position-relative;
      top: 4px;
      left: 4px;
      @extend .shadow-none;
    }
  }
  & #jeu {
    & .case {
      width: 40px;
      height: 40px;
      background-color: #ededed;
      text-shadow: 1px 1px 2px #e1e2ed;
      box-shadow: inset -4px -4px 0px 0px #899599, inset 4px 4px 0px 0px #c9dce3;
    }
  }
  & #result {
    & ul {
      @extend .pl-0;
      @extend .my-4;
    }
    & li {
      list-style: none;
      @extend .ml-1;
      @extend .my-3;
    }
  }
  & #back {
    transform: translateX(-100vw);
  }
}

.btnClick {
  &:active {
    @extend .shadow-none;
    background-color: #ededed;
  }
  &:hover {
    background-color: #c1c1c1;
  }
}

.btn {
  font-size: 1.5rem;
}
